<ng-container *ngIf="true">
 <div class="card-table">
    <div class="card-product">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Sr.no</th>
                    <th>product</th>
                    <th>about</th>
                    <th>quantity</th>
                    <th>price</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
 </div>   
</ng-container>
<ng-container *ngIf="true">
<div class="container">
    
    <div class="center">
       <h4> YOUR CART IS CONTAIN NOTHING </h4>
    </div>
</div>
</ng-container>

